<html>
<head>
  <title>Black Jack</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bj.css">
</head>
<body>

{% if firstGame or wantNewGame or wantMoreCard or card_get_5 or coinimput %}

  Name of the game: {{gameName}}
  </br>Now your chips remain ${{chip}}
  
  {% if firstGame %}
    </br>Game start?[y/n]
  
  {% else %}
    </br>Your hand cards:{{playerHandCard}}
    </br>total points: {{playerPoint}}
    {% if wantMoreCard or card_get_5 %}
      {% if bankerPK %}
        </br>Banker's cards:{{bankerHandCard}}
        </br>Banker's total points: {{bankerPoint}}
        {% if playerWin %}
          </br>You win.
        {% else %}
          </br>You lose.
        {% endif %}
        </br>Want to play again?[y/n]
      {% else %}
        {% if playerBomb %}
          </br>You bomb!!!
          </br>Want to play again?[y/n]
        {% else %}
          {% if card_get_5 %}
            <br>You win!! You get up to 5 cards!!You get bonus {{betcoin}} points
          {% else %}   
            </br></br>Do you want one more card?[y/n]
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  <form action="{{cardDrawing_url}}" method="post">
  <input type="hidden" name="key" value="{{key}}">
  your coin is: {{betcoin}}
  {% if firstGame or gameOver or coinimput %}
    <input type="submit" name="addcoin" value="+10">
    </br>
    <input type="submit" name="wantNewGame" value="y">
    <input type="submit" name="wantNewGame" value="n">
  {% else %}
    </br>
    <input type="submit" name="wantMoreCard" value="yy">
    <input type="submit" name="wantMoreCard" value="nn">
  {% endif %}
    </form>  

{% else %}
  byebye
{% endif %}

</body>
</html>

