<html>
<head>
  <title>Black Jack</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/bj.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</head>
<body>
	<script>
		function showPlayer()
		{
			document.write("<table><tr><td><h2>Your hand cards:<h2></td>");
			var playercard = new Array(5);
			playercard[0] = {{playercard1}};
			playercard[1] = {{playercard2}};
			playercard[2] = {{playercard3}};
			playercard[3] = {{playercard4}};
			playercard[4] = {{playercard5}};
			var cardNum = {{playerHandCardNum}};
			for(var i=0; i<5; i++)
				document.write("<td><img style='border: 5px solid white' src='http://w.csie.org/~b00902102/card/card" + (playercard[i]+1).toString() + ".jpg'></td>");
			document.write("<td><h2>total points: {{playerPoint}}<h2></td></tr></table>");
		}
		function showBanker()
		{
			document.write("<table><tr><td><h2>Banker ' s cards :<h2></td>");
			var bankercard = new Array(5);
			bankercard[0] = {{bankercard1}};
			bankercard[1] = {{bankercard2}};
			bankercard[2] = {{bankercard3}};
			bankercard[3] = {{bankercard4}};
			bankercard[4] = {{bankercard5}};
			var cardNum = {{bankerHandCardNum}};
			for(var i=0; i<5; i++)
				document.write("<td><img style='border: 5px solid white' src='http://w.csie.org/~b00902102/card/card" + (bankercard[i]+1).toString() + ".jpg'></td>");
			document.write("<td><h2>Banker's total points: {{bankerPoint}}<h2></td></tr></table>");
		}

	</script>
{% if firstGame or wantNewGame or wantMoreCard or card_get_5 or coinimput %}

  Name of the game: {{gameName}}
  </br>Now your chips remain ${{chip}}
  
  {% if firstGame %}
    </br>Game start?[y/n]
  
  {% else %}
    <!--</br>Your hand cards:{{playerHandCardNum}}-->
	<script>showPlayer();</script>
	<pre>                        <img style='border: 5px solid white' src='http://w.csie.org/~b00902102/card/card0.jpg' align=center><img style='border: 5px solid white' src='http://w.csie.org/~b00902102/card/card0.jpg' align=center><img style='border: 5px solid white' src='http://w.csie.org/~b00902102/card/carddeck.jpg' align=center></pre>
    {% if wantMoreCard or card_get_5 %}
      {% if bankerPK %}
	  <!--	</br>Banker's cards:{{bankerHandCardNum}} -->
	  	<script>showBanker();</script>
        {% if playerWin %}
          </br>You win.
        {% else %}
          </br>You lose.
        {% endif %}
        </br>Want to play again?[y/n]
      {% else %}
        {% if playerBomb %}
          </br>You bomb!!!
          </br>Want to play again?[y/n]
        {% else %}
          {% if card_get_5 %}
            <br>You win!! You get up to 5 cards!!You get bonus {{betcoin}} points
          {% else %}   
            </br>Do you want one more card?
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  <form action="{{cardDrawing_url}}" method="post">
  <input type="hidden" name="key" value="{{key}}">
  {% if firstGame or gameOver or coinimput %}
    your coin is: {{betcoin}}<br>
    <input type="submit" name="addcoin" value="+10"><br>
    <input type="submit" name="wantNewGame" value="y">
    <input type="submit" name="wantNewGame" value="n">
  {% else %}
    your coin is: {{betcoin}}<br>
    <input type="submit" name="wantMoreCard" value="yy">
    <input type="submit" name="wantMoreCard" value="nn">
  {% endif %}
    </form>  

{% else %}
  byebye
{% endif %}

<ul>
<h2><b>the game record:</b></h2>
  <ol>
  {% for item in coinrecord %}
<li><h4>{{ item }} point<h4></li>
  {% endfor %}
  </ol>
</ul>
</body>
</html>

